# Copyright 2014 Joukou Ltd
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
[Unit]
Description=NGINX reverse proxy
Documentation=http://wiki.nginx.org/Main
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service

[Service]
# Run as root because
# - systemd-docker requires root privileges
# - /root/.dockercfg for registry authentication
User=root
Type=notify

# sd_notify(3) is required by systemd-docker
NotifyAccess=all

# Large start timeout is to allow for pulling down Docker images from quay.io
TimeoutStartSec=12min
TimeoutStopSec=15

# On failures try to restart every 10 seconds rate limiting to 5 attempts every 10 minutes
Restart=on-failure
RestartSec=10s

EnvironmentFile=/run/docker.env
EnvironmentFile=/etc/skydns.env

ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker
ExecStartPre=/usr/bin/docker pull quay.io/joukou/nginx-proxy

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p

ExecStart=/opt/bin/systemd-docker run --name %p \
-e "ETCD_ADDR=http://${DOCKER_BRIDGE_IPV4}:4001" \
-v /etc/nginx/joukou.com.htpasswd:/etc/nginx/joukou.com.htpasswd:ro \
-v /etc/ssl/certs:/etc/ssl/certs:ro \
-v /etc/ssl/private:/etc/ssl/private:ro \
-p 80:8080 \
-p 443:8443 \
-h %i.%p.${SKYDNS_ENVIRONMENT}.${SKYDNS_ZONE}.${SKYDNS_DOMAIN} \
quay.io/joukou/nginx-proxy

ExecStop=/usr/bin/docker kill %p

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineOf=api@%i.service
MachineOf=cadvisor@%i.service
MachineOf=control@%i.service
MachineOf=elasticsearch@%i.service
MachineOf=rabbitmq@%i.service
MachineOf=riak@%i.service
Conflicts=nginx-proxy@*.service
